<%- include('../includes/base.ejs') %>
<link rel="stylesheet" href="/css/auth.css" />
<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Registration" />
        </div>
    
        <!-- Login Form -->
        <form action="/signup" method="POST">
          <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
          <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
          <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
          <input type="password" id="confirmPassword" class="fadeIn third" name="confirmPassword" placeholder="Confirm Password">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <input type="submit" class="fadeIn fourth" value="Sign Up">
        </form>
    
      </div>
    </div>

<%- include('../includes/end.ejs') %>